body 
{
  font-family: Tahoma, sans-serif;
  color: #F1FFFA;
  background-color: #151706;
}

a { color: lightblue;}
a:hover { color: red;}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #FFAC81;
}

footer
{
  text-align: center;
}

.main_center
{
  text-align: center;
}

#intro_wedding_pic
{
  margin: auto;
  display: block;
  width: 189px;
  height: 252px;
}

#valid_buttons
{
  width: 500px;
  height: 500px;
}
