body 
{
  font-family: Tahoma, sans-serif;
  color: #F1FFFA;
  background-color: #151706;
  margin: 50px 100px 50px 100px;
}

a { color: lightblue;}
a:hover { color: red;}

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #FFAC81;
  background-color: rgb(52, 40, 11);
  padding-top: 20px;
  padding-bottom: 20px;
}

footer
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main_center
{
  text-align: center;
}

#intro_wedding_pic
{
  display: block;
  width: 189px;
  height: 252px;
}

img 
{
  margin: 25px auto 25px auto;
}

main
{
  margin: 25px 50px 25px 50px;
}