body 
{
  font-family: Arial, Helvetica, sans-serif;
  color: #f5e2d9;
  background-color: #151706;
  margin: 50px 100px 50px 100px;
}

a 
{ 
  color: rgb(173, 230, 195); 
  text-decoration: none;
}
a:hover { color: rgb(30, 105, 235);}

header,footer
{
  font-family: Courier, serif;
  text-align: center;
  color: #FFAC81;
  text-align: center;
  background-color: #721121;
  border-color: blanchedalmond;
  border-style: solid;
  padding-bottom: 20px;
}

h1,h2,h3
{
  font-family:'Lucida Sans', 'Trebuchet MS', sans-serif;
  text-align: center;
}

#intro_wedding_pic
{
  display: block;
  margin: 25px auto 25px auto;
}

main
{
  margin: 25px 50px 25px 50px;
}

li
{
  margin: 5px 5px 5px 5px;
}

table
{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

td, th
{
  border: 1px solid grey;
  padding: 10px 20px 10px 15px;
}

th { text-align: center; }

#center_list
{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

figcaption
{
  text-align: center;
}

table tr:nth-child(odd)
{
  background-color: #777;
  color: rgb(240, 230, 230); 
}

form 
{
  text-align: center;
}

.button
{
  background-color: rgba(36, 30, 30, 0.872);
  color: #f1ff3f
}

.textbox
{
  background-color: rgb(5, 5, 60);
  color: rgb(255, 255, 123);
  border-color: green;
  font-weight: 900;
}

#calcLabel
{
  background-color: rgb(11, 1, 1);
  color: rgb(244, 237, 237); 
}

.project_description h3, figcaption
{
  text-align: left;
}

#images_for_slideshow img 
{
  display: none;
}

#images_for_slideshow #current_pic 
{
  display: inline-block;
}

#slideshow_pics 
{
  text-align: center;
}

#image_list li
{
  padding-right: 10px;
  display: inline;
}

#image_swap
{
  padding: 20px;
	width: 550px;
}