body 
{
  font-family: Arial, Helvetica, sans-serif;
  color: #050601;
  background-color: #2DB5C4;
  margin: 50px 100px 50px 100px;
}

header, footer, h1, h2, figure
{
  text-align: center;
}

a 
{ 
  color: rgb(225, 228, 241); 
  text-decoration: none;
}
a:hover { color: rgb(238, 82, 15);}

nav 
{ 
    background-color: rgb(30, 28, 28);
    top: 0;
    height: 2.5%;
    padding-top: 8px;
    color: rgb(227, 229, 237);
}