
<header>
  <h1>Gautam Kapur | ITIS 3135 | Golden Kiwi</h1>
  <nav>
      <a href = "./">Home</a> 🥝 
      <a href = "introduction.html">Introduction</a> 🥝 
      <a href = "contract.html">Contract</a> 🥝 
      <a href = "tables.html">Tables</a> 🥝 
      <a href = "forms.html">Forms</a> 🥝 
      <a href = "website_evaluations.html">Website Evaluations</a> 🥝 
      <a href = "firstscripts.html">First Scripts</a> 🥝 
      <a href = "polygon.html">Polygon</a> 🥝 
      <a href = "calculator_try.html">Calculator Try</a> 🥝 
      <a href = "calculator_fcc.html">Calculator Tutorial</a> 🥝 
      <a href = "arrays.html">Arrays</a> 🥝 
      <a href = "project_rand.html">Project Design</a> 🥝 
      <a href = "slideshow.html">Slideshow</a> 🥝 
      <a href = "activity10.html">Image Swap</a> 🥝 
      <a href = "activity11/kapur-activity11.html">Accordion</a> 🥝 
      <a href = "activity12/kapur-activity12.html">Activity 12</a> 🥝 
      <a href = "accessibility/kapur-activity_accessibility.html" target = "_blank">Accessibility Activity</a> 🥝 
      <a href = "project/" target = "_blank">Project</a> 🥝 
      <a href = "hobby/" target = "_blank">Hobby</a> 🥝 
      <a href = "brand-golden-kiwi.html" target = "_blank">Brand</a> 🥝 
      <a href = "stuff/D2%20I$3%2022:D%23.htm" target = "_blank">CRAP</a>
  </nav>
</header>
