
<header>
  <h1>Gautam Kapur | ITIS 3135 | Golden Kiwi</h1>
  <nav>
      <a href = "./">Home</a> 🥝 
      <a href = "introduction.html">Introduction</a> 🥝 
      <a href = "contract.html">Contract</a> 🥝 
      <a href = "tables.html">Tables</a> 🥝 
      <a href = "forms.html">Forms</a> 🥝 
      <a href = "website_evaluations.html">Website Evaluations</a> 🥝 
      <a href = "firstscripts.html">First Scripts</a> 🥝 
      <a href = "polygon.html">Polygon</a> 🥝 
      <a href = "calculator_try.html">Calculator Try</a> 🥝 
      <a href = "calculator_fcc.html">Calculator Tutorial</a> 🥝 
      <a href = "arrays.html">Arrays</a> 🥝 
      <a href = "accessibility/kapur-activity_accessibility.html">Accessibility Activity</a> 🥝 
      <a href = "project_rand.html">Project Design</a> 🥝 
      <a href = "slideshow.html">Slideshow</a> 🥝 
      <a href = "project/">Project</a> 🥝 
      <a href = "brand-golden-kiwi.html" target = "_blank">Brand</a> 🥝 
      <a href = "stuff/D2%20I$3%2022:D%23.htm" target = "_blank">CRAP</a>
  </nav>
</header>
