<!DOCTYPE html>
<html lang = "en-US">
  <footer>
    <h1>Gautam Kapur | ITIS 3135 | Golden Kiwi</h1>
    <nav>
        <a href = "../"></a>
        <a href = "./">Home</a> || 
        <a href = "/itis3135/introduction.html" target = "_blank">Introduction</a> 🥝 
        <a href = "/itis3135/contract.html" target = "_blank">Contract</a> 🥝 
        <a href = ".../" target = "_blank">UNCC Homepage</a> 🥝 
        <a href = "/itis3135/tables.html" target = "_blank">Tables</a> 🥝 
        <a href = "/itis3135/forms.html" target = "_blank">Forms</a> 🥝 
        <a href = "/itis3135/brand-golden-kiwi.html" target = "_blank">Brand</a> 🥝 
        <a href = "/itis3135/website_evaluations.html" target = "_blank">Website Evaluations</a> 🥝 
        <a href = "/itis3135/stuff/D2%20I$3%2022:D%23.htm" target = "_blank">CRAPPY Page</a>
    </nav>
  </footer>
</html>