body 
{
  font-family: Arial, Helvetica, sans-serif;
  color: #bdffff;
  background-color: #014b4b;
  margin: 50px 100px 50px 100px;
  font-size: 18px;
}

a 
{ 
  color: #bdffff;
  text-decoration: none;
  font-weight: 600;
}
a:hover { background-color: #504d4d; }
a img { pointer-events: none; }

header,footer
{
  font-family: Courier, serif;
  text-align: center;
  text-align: center;
  background-color: #078282;
  border-color: rgb(255, 248, 239);
  border-style: solid;
}

.main_center
{
  text-align: center;
}

h1,h2,h3
{
  font-family:'Lucida Sans', 'Trebuchet MS', sans-serif;
}

main
{
  margin: 25px 50px 25px 50px;
}